<section>
  <h1>About this site</h1>
  <p>
  <img style="float:left;margin: 0 1em 1em 0;" src={{ 'steve@sanityinc.com' | to_gravatar }} alt="Small picture of Steve"></img>
  Hi, I'm <a href="/about/">Steve Purcell</a> - Sanity, Inc. is my one-man consultancy and software house.
  </p>

  <p>I’m on a mission to bring more software sanity into the world.</p>
  <ul>
    <li><a href="https://github.com/purcell">Github account</a></li>
    <li><a href="http://www.linkedin.com/in/stevepurcell">LinkedIn profile</a></li>
    <li><a href="http://workingwithrails.com/person/4844-steve-purcell">Working With Rails profile</a></li>
  </ul>
  <p> <a href="https://coderwall.com/purcell"><img alt="Endorse purcell on Coderwall" src="http://api.coderwall.com/purcell/endorsecount.png" /></a>
  </p>
</section>

